<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/project/acc.css"> <!-- Link to the external CSS file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <!--=======================================================navbar===========================================--->
  <nav class="navbar navbar-expand-sm navbar d-flex justify-content-center shadow">     
    <h3 class="text-danger ms-auto">|</h3>
    <h3 class="navbar-brand">My account</h3>
    <a href="/home" class="ms-auto nav-link pe-3">Back</a>
</nav>
    <!--=======================================================navbar===========================================--->
    <!--===================================================menubar===========================================--->
    <div class="row">
      <div class="col-sm-4 mt-3 ms-5">
        <div class="pt-5 pb-4 px-5 d-flex align-items-center mb-0">
          <img src="/public/external/Group.svg" alt="">
          <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="#" style="color: #9A1212;">My account</a>
        </div>

        <div class="ps-5 pb-4 d-flex align-items-center">
          <img src="/public/external/🦆 icon _lock key_.svg" alt="">
          <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="/account/change_password">Change password</a>
        </div>
        <div class="ps-5 pb-4 d-flex align-items-center">
          <img src="/public/external/🦆 icon _paste clipboard_.svg" alt="">
          <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="/account/my-booking">My booking</a>

        </div>
        <div class="ps-5 pb-4 d-flex align-items-center">
          <img src="/public/external/🦆 icon _log out_.svg" alt="">
          <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="/logout">Logout</a>
        </div>
          <div class="pt-5 pb-4 px-5 d-flex align-items-center mb-0">
              <img src="/public/external/Group.svg" alt="" >
              <a  class="mb-0 ml-2 ms-2 nav-item nav-link active" href="/account">My account</a>
          </div>
          <div class="ps-5 pb-4 d-flex align-items-center">
              <img src="/public/external/🦆 icon _lock key_.svg" alt="">
              <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="/account/change_password">Change password</a>
          </div>
          <div class="ps-5 pb-4 d-flex align-items-center">
              <img src="/public/external/🦆 icon _paste clipboard_.svg" alt="">
              <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="/account/my-booking">My booking</a>
              
          </div>
          <div class="ps-5 pb-4 d-flex align-items-center">
              <img  src="/public/external/🦆 icon _log out_.svg" alt="">
              <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="/logout">Logout</a>
          </div>
      </div>
      <div class="col-sm-5 pt-5 ">
        <p>student ID: 6431501200</p>
        <p>Email: john.d@lamduan.mfu.ac.th</p>
        <p class="name">Name: John </p>
        <p class="lastname">Lasname: Doe</p>
        <p>Phone: 0933333333</p>

      </div>
    </div>


    <!--===================================================menubar===========================================--->
    <!--======================================================middle===========================================--->
    <footer class="container-fluid" id="footer">
      <div class="">
        <h5 class="text-white">Address</h3>
          <p class="text-white"> 333 Moo1, Thasud, Muang, Chiang Rai 57100</p>
      </div>
      <div class="">
        <h5 class="text-white">Contact</h3>
          <p class="text-white">Phone : 0-5391-6000</p>
          <p class="text-white">Email : surapong@mfu.ac.th</p>
      </div>
    </footer>
    <!--======================================================middle===========================================--->
  </div>
</body>

</html>