<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/project/main.css"> <!-- Link to main.css -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">

  <title>Document</title>
</head>


<body>
  <!--------------------------------------------------------- navbar ---------------------------------------------------------------------------------------------------------------------->
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <div class="container-fluid">

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meeting Room</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="/public/external/Profile icon.svg" alt="Profile Icon" class="profile-icon">
              John Doe
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!--------------------------------------------------------- navbar ---------------------------------------------------------------------------------------------------------------------->

  <!--------------------------------------------------------- Tabs ---------------------------------------------------------------------------------------------------------------------->

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Meeting Room</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Add Meeting Room</a>
    </li>
  </ul>
  <!--------------------------------------------------------- Tabs ---------------------------------------------------------------------------------------------------------------------->

  <h4 class="addmeetingtoom">Add Meeting Rooms</h4>
  <br>
  <!--------------------------------------------------------------container--------------------------------------------------------------------------------------------------------------->
  <div class="custom-container" >

    <form id="dataForm">
      <div class="row">
        <div class="col">
          <p class="title">Name</p>
          <input type="text" id="name" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <p class="title">Building</p>
          <input type="text" id="building" class="form-control" placeholder="Location Room" aria-label="Location Room">
        </div>
        <div class="col">
          <p class="title">Seat Capacity</p>
          <input type="text" id="seatcapacity" class="form-control" placeholder="Seat" aria-label="Seat">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <p class="title">Amenities</p>
          <input type="text" id="amenities" class="form-control" placeholder="Amenities....." aria-label="Amenities">
        </div>
        <div class="col">
          <p class="title">Upload File</p>
          <div class="form-control d-flex">
            <input type="file" id="fileInput" class="form-control" style="display: none;">
            <input type="text" id="uploadedFile" placeholder="No file chosen..." aria-label="No file chosen"
              class="flex-grow-1 border-0">
            <button type="button" onclick="document.getElementById('fileInput').click()" class="btn btn-primary">Choose
              File</button>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary btn-sm toggle-btn" data-type="Audio">Audio</button>
        <button class="btn btn-primary btn-sm toggle-btn" data-type="Video">Video</button>
        <button class="btn btn-primary btn-sm toggle-btn" data-type="Plug">Plug</button>
        <button class="btn btn-primary btn-sm toggle-btn" data-type="Speakerphone">Speakerphone</button>
        <button class="btn btn-primary btn-sm toggle-btn" data-type="TV">TV</button>
        <button class="btn btn-primary btn-sm toggle-btn" data-type="Webcam">Webcam</button>
      </div>


    </form>
    <br><br>
    <button type="button" id="cancelButton" class="btn btn-secondary btn-lg">Cancel</button>
    <button type="button" onclick="addRoom()" class="btn btn-primary btn-lg">Add</button>

    <br>
    <script src="/public/js/submit.js"></script>




  </div>
  
  <!--------------------------------------------------------------container--------------------------------------------------------------------------------------------------------------->
  

</body>

</html>