<!DOCTYPE html>
<html lang="english">

<head>
  <title>Add meeting room</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />
  <link rel="stylesheet" type="text/css" href="/public/css/project/style.css">
  <link rel="stylesheet" type="text/css" href="/public/css/project/index.css">
  <link rel="stylesheet" type="text/css" href="/ll/">

  
  
</head>

<body>
  <link rel="stylesheet" href="/public/css/project/addroom.css" />
  <div>
    <link href="./index.css" rel="stylesheet" />

    <div class="add-edit-meetingroomthq-exclude-container">
      <div class="add-edit-meetingroomthq-exclude-add-edit-meetingroomthq-exclude">
        <button class="add-edit-meetingroomthq-exclude-buttonbutton" onclick="cancelFunction()">
          <span class="add-edit-meetingroomthq-exclude-text RegularL1">
            Cancel
          </span>
        </button>

        <script>
          function cancelFunction() {
            alert("คลิกยกเลิกปุ่มแล้ว!");
          }
        </script>
        
        <div class="add-edit-meetingroomthq-exclude-location">

          <div class="add-edit-meetingroomthq-exclude-dropdown">
            <span class="add-edit-meetingroomthq-exclude-text01 RegularP2">

              <span>Name</span>
            </span>


            <div class="add-edit-meetingroomthq-exclude-frame6">
              <input class="add-edit-meetingroomthq-exclude-fieldinput" type="text" placeholder="Select"
                id="name_input">
              <script>
                function displayText() {
                  var inputValue = document.getElementById("name_input").value;
                  document.getElementById("displayArea").textContent = "ข้อความที่คุณพิมพ์: " + inputValue;
                }
              </script>
            </div>
            <div class="add-edit-meetingroomthq-exclude-fa"></div>
          </div>
        </div>
      </div>
      <span class="add-edit-meetingroomthq-exclude-text04 RegularH2">
        <span>Meeting Room</span>
      </span>

      <div class="add-edit-meetingroomthq-exclude-group1981">
        <div class="add-edit-meetingroomthq-exclude-group1950">
          <div class="add-edit-meetingroomthq-exclude-group1949">
            <div class="add-edit-meetingroomthq-exclude-amenities">
              <div class="add-edit-meetingroomthq-exclude-date-picker">
                <div class="add-edit-meetingroomthq-exclude-title">
                  <span class="add-edit-meetingroomthq-exclude-text06 RegularP2">
                    <span>Amenities</span>
                  </span>
                </div>

                <div class="add-edit-meetingroomthq-exclude-field">
                  <div class="add-edit-meetingroomthq-exclude-frame61">
                    <div id="result-box">
                      <ul id="selected-buttons">
                      </ul>
                    </div>
                  </div>
                  <div class="add-edit-meetingroomthq-exclude-fa1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="add-edit-meetingroomthq-exclude-inputchip" onclick="toggleOption(this)">Video</button>
        <button class="add-edit-meetingroomthq-exclude-inputchip1" onclick="toggleOption(this)">Audio</button>
        <button class="add-edit-meetingroomthq-exclude-inputchip2" onclick="toggleOption(this)">WhiteBoard</button>
        <button class="add-edit-meetingroomthq-exclude-inputchip3" onclick="toggleOption(this)">HDMI</button>
        <button class="add-edit-meetingroomthq-exclude-inputchip4" onclick="toggleOption(this)">Projector</button>
        <button class="add-edit-meetingroomthq-exclude-inputchip5" onclick="toggleOption(this)">Speaker Phone</button>


        <div class="add-edit-meetingroomthq-exclude-location1"></div>
      </div>
      <script src="scrip.js"></script>



      <div class="add-edit-meetingroomthq-exclude-dropdown1">
        <span class="add-edit-meetingroomthq-exclude-text08 RegularP2">
          <span>Location</span>
        </span>
        <input class="add-edit-meetingroomthq-exclude-fieldinputname" type="text" placeholder="Select"
          id="location_input" />
        <script>
          function displayText() {
            var inputValue = document.getElementById("name_input").value;
            document.getElementById("displayArea").textContent = "ข้อความที่คุณพิมพ์: " + inputValue;
          }
        </script>

      </div>
      <div class="add-edit-meetingroomthq-exclude-dropdown2">
        <span class="add-edit-meetingroomthq-exclude-text10 RegularP2">
          <span>Seat Capacity</span>
        </span>

        <div class="add-edit-meetingroomthq-exclude-frame62">
          <input class="add-edit-meetingroomthq-exclude-fieldinputname" type="text" placeholder="Select"
            id="seat_input" />
          <script>
            function displayText() {
              var inputValue = document.getElementById("seat_input").value;
              document.getElementById("displayArea").textContent = "ข้อความที่คุณพิมพ์: " + inputValue;
            }
          </script>
        </div>

      </div>
      <button class="add-edit-meetingroomthq-exclude-buttonbutton1" onclick="AddFunction()">
        <span class="add-edit-meetingroomthq-exclude-text14">Add</span>
      </button>
      <script>
        function AddFunction() {
          alert("คุณคลิกปุ่มแล้ว!");
        }
      </script>
      <div class="add-edit-meetingroomthq-exclude-group2000">
        <div class="add-edit-meetingroomthq-exclude-component1">
          <div class="add-edit-meetingroomthq-exclude-field2">
            <span class="add-edit-meetingroomthq-exclude-text15 RegularP2">
              รูปภาพที่เลือก: <span id="imageName"></span>
            </span>
          </div>
          <button class="add-edit-meetingroomthq-exclude-buttonbutton2" onclick="uploadImage()">
            <span class="add-edit-meetingroomthq-exclude-text17 RegularL1">

              <span>Choose File</span>
            </span>
          </button>
          <input type="file" id="imageInput" accept="image/*" style="display: none;" onchange="displayImageName()">
          <script>
            function uploadImage() {
              var imageInput = document.getElementById("imageInput");
              imageInput.click();
            }

            function displayImageName() {
              var imageInput = document.getElementById("imageInput");
              var imageName = document.getElementById("imageName");
              var selectedImage = document.getElementById("selectedImage");
              var selectedFile = imageInput.files[0];

              if (selectedFile) {
                imageName.textContent = selectedFile.name;
                selectedImage.style.display = "block";
              }
            }
          </script>

        </div>
        <span class="add-edit-meetingroomthq-exclude-text19 RegularP2">
          <span>Upload Image</span>
        </span>
      </div>
      <div class="add-edit-meetingroomthq-exclude-breadcrum">
        <button class="add-edit-meetingroomthq-exclude-buttonbutton3">
          <span class="add-edit-meetingroomthq-exclude-text21 RegularL1">
            <span>
              <p> <a href="หน้าที่คุณต้องการลิงก์ไป">Dashboard</a></p>
            </span>

          </span>
        </button>
        <button class="add-edit-meetingroomthq-exclude-button">
          <span class="add-edit-meetingroomthq-exclude-text23 RegularL1">
            /
          </span>
        </button>
        <button class="add-edit-meetingroomthq-exclude-buttonbutton4">
          <span class="add-edit-meetingroomthq-exclude-text24 RegularL1">

            <span>
              <p> <a href="หน้าที่คุณต้องการลิงก์ไป">Meeting Room</a></p>
            </span>
          </span>
        </button>
        <button class="add-edit-meetingroomthq-exclude-button1">
          <span class="add-edit-meetingroomthq-exclude-text26 RegularL1">
            /
          </span>
        </button>
        <button class="add-edit-meetingroomthq-exclude-button2">
          <span class="add-edit-meetingroomthq-exclude-text27 RegularL1">
            <span>
              <p> <a href="หน้าที่คุณต้องการลิงก์ไป">Add Meeting Room</a></p>
            </span>
          </span>
        </button>
      </div>
      <div class="add-edit-meetingroomthq-exclude-header">
        <div class="add-edit-meetingroomthq-exclude-frame22">
          <img alt="LineCopy5I469" src="/public/external/linecopy5i469-sfsi.svg"
            class="add-edit-meetingroomthq-exclude-line-copy5" />
          <img alt="LineCopy4I469" src="/public/external/linecopy4i469-lxlt.svg"
            class="add-edit-meetingroomthq-exclude-line-copy4" />
          <img alt="LineCopy6I469" src="/public/external/linecopy6i469-vrkk.svg"
            class="add-edit-meetingroomthq-exclude-line-copy6" />
          <div class="add-edit-meetingroomthq-exclude-headericonmenunormal">
            <div class="add-edit-meetingroomthq-exclude-system-icons32pt-new-notifications">
              <div class="add-edit-meetingroomthq-exclude-frame10">
                <img alt="PathI469" src="/public/external/pathi469-5jr.svg"
                  class="add-edit-meetingroomthq-exclude-path" />
                <img alt="PathI469" src="/public/external/pathi469-5jr.svg"
                  class="add-edit-meetingroomthq-exclude-path1" />
                <img alt="OvalI469" src="/public/external/ovali469-4fz8.svg"
                  class="add-edit-meetingroomthq-exclude-oval" />
                <span class="add-edit-meetingroomthq-exclude-text29">
                  99+

                </span>
              </div>
            </div>
          </div>
          <img alt="LineCopy2I469" src="/public/external/linecopy2i469-4kt8j.svg"
            class="add-edit-meetingroomthq-exclude-line-copy2" />
          <img alt="LineCopy3I469" src="/public/external/linecopy3i469-lhfb.svg"
            class="add-edit-meetingroomthq-exclude-line-copy3" />
          <div class="add-edit-meetingroomthq-exclude-headerusernamenormal">
            <div class="add-edit-meetingroomthq-exclude-system-icons32pt-profileicon">
              <img alt="Rectangle33I469" src="." class="add-edit-meetingroomthq-exclude-rectangle33" />
              
              <a href="./my_acc/accout.html"><img alt="ProfileiconI469" src="/public/external/profileiconi469-61e.svg"
                class="add-edit-meetingroomthq-exclude-profileicon" /></a>
            </div>
            <span class="add-edit-meetingroomthq-exclude-text30">
              <span><a href="./my_acc/accout.html">John doe</span></a>
            </span>
          </div>
        </div>
        
        <span class="add-edit-meetingroomthq-exclude-text32">
          <span>
            <p> <a href="./ii/index.html">Dashboard</a></p>
          </span>
        </span>
      </div>
      <span class="add-edit-meetingroomthq-exclude-text34">
        <span>
          <p> <a href="หน้าที่คุณต้องการลิงก์ไป">Meeting Room</a></p>
        </span>
      </span>
    </div>
  </div>
  </div>
</body>

</html>