<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <style>
        .border {
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px; 
        overflow: hidden; 
        }
         #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #9A1212;
        height: 256px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    </style>

</head>
<body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar d-flex justify-content-center shadow">     
            <h3 class="text-danger ms-auto">|</h3>
            <h3 class="navbar-brand">My account</h3>
            <a href="#" class="ms-auto nav-link pe-3">Back</a>
        </nav>
        <!-- content -->
        <div class="row">
            <div class="col-sm-4 mt-5 ms-3">
                <div class="pt-5 pb-4 px-5 d-flex align-items-center mb-0">
                    <img src="/public/img/Group.png" alt="" >
                    <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="#">My account</a>
                </div>
                <div class="ps-5 pb-4 d-flex align-items-center">
                    <img src="/public/img/🦆 icon _lock key_.png" alt="">
                    <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="#">Change password</a>
                </div>
                <div class="ps-5 pb-4 d-flex align-items-center">
                    <img src="/public/img/🦆 icon _paste clipboard_.png" alt="">
                    <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="#">My booking</a>
                    
                </div>
                <div class="ps-5 pb-4 d-flex align-items-center">
                    <img  src="/public/img/🦆 icon _log out_.png" alt="">
                    <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="#">Logout</a>
                </div>
            </div>
            <div class="col-sm-5 pt-5 ">
                <form>
                    <!-- Current password -->
                      <div class="form-group row my-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Current password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                      </div>
                      <!-- New password -->
                      <div class="form-group row my-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">New password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                      </div>
                      <!-- Confirm new password -->
                      <div class="form-group row my-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm new password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group row my-3 text-center">
                        <div class="container"><button class="btn btn-danger">Confirm</button></div>
                        
                      </div>
                </form>
                
            </div>
        </div>
        <!-- Footer -->
        <footer class="container-fluid" id="footer">
            <div class="">
                <h5 class="text-white">Address</h3> 
                <p class="text-white"> 333 Moo1, Thasud, Muang, Chiang Rai 57100</p>
            </div>
            <div class="">
                <h5 class="text-white">Contact</h3> 
                    <p class="text-white">Phone : 0-5391-6000</p>
                    <p class="text-white">Email : surapong@mfu.ac.th</p>
            </div>
          </footer>

</body>
</html>