<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/project/acc.css"> <!-- Link to the external CSS file -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>
    <style>
        .border {
            border-collapse: collapse;
            width: 100%;
            border-radius: 15px; 
            overflow: hidden; 
        }
        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #9A1212;
            height: 256px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar d-flex justify-content-center shadow">     
        <h3 class="text-danger ms-auto">|</h3>
        <h3 class="navbar-brand">My account</h3>
        <a href="/home" class="ms-auto nav-link pe-3">Back</a>
    </nav>
    
    <!-- Content -->
    <div class="row">
        <div class="col-sm-4 mt-3 ms-5">
            <div class="pt-5 pb-4 px-5 d-flex align-items-center mb-0">

                <img src="" alt="" >
                <a  class="mb-0 ml-2 ms-2 nav-item nav-link active" href="/account">My account</a>

            </div>

            <div class="ps-5 pb-4 d-flex align-items-center">

                <img src="/public/external/u icon _lock key_ (1).svg" alt="" style="width: 39;">
                <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="#" style="color: #9A1212;" >Change password</a>

            </div>
            
            <div class="ps-5 pb-4 d-flex align-items-center">

                <img src="/public/external/🦆 icon _paste clipboard_.svg" alt="">
                <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="/account/my-booking">My booking</a>
                
            </div>
            <div class="ps-5 pb-4 d-flex align-items-center">
                <img  src="/public/external/🦆 icon _log out_.svg" alt="">
                <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="/logout">Logout</a>

            </div>
        </div>
        <div class="col-sm-5 pt-5 ml-2">
            <form id="passwordChangeForm">
                <!-- Current password -->
                
                <div class="form-group row">
                    <label for="currentPassword" class="col-sm-4 col-form-label">Current password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
                    </div>
                </div>
                <br>
               
                <!-- New password -->
                <div class="form-group row">
                    <label for="newPassword" class="col-sm-4 col-form-label">New password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                    </div>
                </div>
                <br>
                <!-- Confirm new password -->
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm new password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="container text-center">
                        <button class="btn btn-danger" id="changePasswordBtn">Confirm</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="container-fluid" id="footer">
        <div class="">
            <h5 class="text-white">Address</h5> 
            <p class="text-white"> 333 Moo1, Thasud, Muang, Chiang Rai 57100</p>
        </div>
        <div class="">
            <h5 class="text-white">Contact</h5> 
            <p class="text-white">Phone : 0-5391-6000</p>
            <p class="text-white">Email : surapong@mfu.ac.th</p>
        </div>
    </footer>

    <script>
        // select confirm button
        const changePasswordBtn = document.getElementById('changePasswordBtn');

        
            
        changePasswordBtn.addEventListener('click', async function(event) {
            try {
            event.preventDefault();
            const currentPassword = document.getElementById('currentPassword').value;
            const newPassword = document.getElementById('newPassword').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (!currentPassword.trim()) {
                    alert('Please enter your old Password.');
                    return;
                }
            if (!newPassword.trim()) {
                    alert('Please enter your new Password.');
                    return;
                }
            if (!confirmPassword.trim()) {
                    alert('Please enter your Confirm password.');
                    return;
                }
            if (newPassword !== confirmPassword) {
                    alert('New password and confirm password do not match.');
                    return;
                }

            // send to back-end
            const options = {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "old_password": currentPassword,
                        "new_password": confirmPassword,
                    }),
                };
                const response = await fetch('/account/change_password/reset', options);

                if (response.ok) {
                    const data = await response.text();
                    // document.getElementById('/sign-up').reset();
                    // uncomment this to make it go to the next page
                    // window.location.replace(data);
                    alert('OK');
                } else if (response.status == 401) {
                    const data = await response.text();
                    throw Error(data);
                } else {
                    const data = await response.text();
                    throw Error(data);
                }
                } catch (err) {
                    console.error(err);
                    alert(err);
                }
            

            form.reset();
            alert("Password changed successfully!");

        });
        
    

    </script>
</body>
</html>
