<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve or disapprove</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/public/css/project/dashboard.css"> -->
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/project/Booking_details.css">
</head>
<style>
    .navbar-nav .nav-link.my-account {
      margin-right: 200px;
    }
  
    .navbar-light .navbar-nav .nav-link {
      color: white;
      font-size: 16px;
    }
  
    .bg-custom {
      background-color: #9A1212;
    }
  
   
  </style>


<body>
    <nav class="navbar navbar-expand navbar-light bg-custom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/home">Rooms</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/staff/home">Confirm</a></li>
                    
                    <!-- Dropdown for User -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar rounded-circle" src="/public/images/user_64px.png" height="28px" width="28px"> <p class="d-inline" id="nav_username">Arjarn Surapong</p> 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account">Account</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mx-5">
        <div class="row justify-content-between">
            <div class="col-11">
                <h1 class="my-3">Approve or disapprove</h1>
            </div>
            <div class="col-1"></div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Room</th>
                        <th>Meeting agenda</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Who booked</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-light" id="table_approve">

                </tbody>
            </table>
        </div>
    </div>
    </div>

    <script>
        // calling functions
        getConfirmTable();
        getUser();
        // selecting table
        const table_approve = document.querySelector('#table_approve');
        // nav username
        const nav_username = document.querySelector('#nav_username');
        async function getUser() {
            try {
                const response = await fetch('/user');
                if (response.ok) {
                    const data = await response.json();
                    nav_username.innerText = `${data.name}`;
                }
            } catch (err) {
                console.error(err.message);
                Notiflix.Report.failure('Error', err.message, 'Close');
            }
        }
        // confirm table
        function getConfirmTable(){
        fetch('/confirm/getconfirm')
            .then(function(response){
                if (response.ok) {
                    return response.json();
                }
                throw Error('Bad response');
            })
            .then(function(data){
                // console.log(data)
        let rows = '';
        let time_slot = '';
        data.forEach(function (d) {
            rows += `<tr>`;
            rows += `<td>${d.room_name}</td>`;
            rows += `<td>${d.agenda}</td>`;
            rows += `<td>${d.formatted_date}</td>`;
            if (d.time_slot_1 == "1") {
                time_slot = 'time_slot_1';
                rows += `<td>08:00 - 10:00</td>`;
            }
            else if (d.time_slot_2 == "1") {
                time_slot = 'time_slot_2';
                rows += `<td>10:00 - 12:00</td>`;
            }
            else if (d.time_slot_3 == "1") {
                time_slot = 'time_slot_3';
                rows += `<td>13:00 - 15:00</td>`;
            }
            else if (d.time_slot_4 == "1") {
                time_slot = 'time_slot_4';
                rows += `<td>15:00 - 17:00</td>`;
            }
            else {
                rows += `<td>Error</td>`;
            }
            rows += `<td>${d.whoBook}</td>`;
            rows += `<td><button class="btn btn-success me-3" onclick=updateBooking(${d.booking_id},"approved",${d.room_id},"${time_slot}")>Approve</button>
                <button class="btn btn-danger" onclick=updateBooking(${d.booking_id},"rejected",${d.room_id},"${time_slot}")>Reject</button></td>`
            rows += `</tr>`;
        });
        table_approve.innerHTML = rows;
            })
            .catch(function(err){
                console.error(err);
                alert(err);
            });
        }
        async function updateBooking(booking_id,status,room_id,time_slot){
            // update booking
            try {
                const options = {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ "booking_id": booking_id, "status":status }),
                };
                const response = await fetch('/confirm/update_booking_status', options);
                if (response.ok) {
                    const data = await response.text();
                    getConfirmTable();
                    // alert(data);
                    // Notiflix.Report.success('Success', data, 'OK');
                }
                else if (response.status == 401) {
                    const data = await response.text();
                    throw Error(data);
                }
                else {
                    throw Error('Connection error');
                }
                } catch (err) {
                    console.error(err.message);
                    // alert(err.message);
                    Notiflix.Report.failure('Error', err.message, 'Close');
                }
            // update room
            if(status == "rejected"){
                try {
                const options = {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ "room_id": room_id, "time_slot":time_slot}),
                };
                const response = await fetch('/confirm/update_room_time_slot', options);
                if (response.ok) {
                    const data = await response.text();
                    
                }
                else if (response.status == 401) {
                    const data = await response.text();
                    throw Error(data);
                }
                else {
                    throw Error('Connection error');
                }
                } catch (err) {
                    console.error(err.message);
                    // alert(err.message);
                    Notiflix.Report.failure('Error', err.message, 'Close');
                }
            }
        }

        

    </script>
</body>

</html>