<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/project/dashboard.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="/public/css/project/sb-admin-2.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-danger ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto"> <!-- Added ms-auto class here -->
                    <li class="nav-item"><a class="nav-link active" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="#">My Booking</a>
                    </li>
                    <img class="avatar rounded-circle" src="/public/images/user_64px.png" height="40px">
                    <li class="nav-item"><a class="nav-link active" href="#">| John Doe
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="mx-5">
        <h5></h5>
        <table class="table table-striped">
            <thead>
                <tr><th>Time slot</th> <th>Available</th> <th>Reserved</th> <th>Disabled</th></tr>
            </thead>
            <tbody id="table_body"></tbody>
        </table

        <!-- History -->
        <h1 class="text-black">History</h1>
        <hr class="border border-dark border-2 opacity-50">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Room</th>
                        <th>Meeting agenda</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Who booked</th>
                        <th>Who approved</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr>
                        <td>E4A Pradudang 1</td>
                        <td>Group study</td>
                        <td>24/11/2023</td>
                        <td>11:30</td>
                        <td>12:30</td>
                        <td>John Doe</td>
                        <td>Arjarn Surapong</td>
                    </tr>
                    <tr>
                        <td>E4A Pradudang 1</td>
                        <td>Group study</td>
                        <td>24/11/2023</td>
                        <td>11:30</td>
                        <td>12:30</td>
                        <td>John Doe</td>
                        <td>Arjarn Surapong</td>
                    </tr>
                    <tr>
                        <td>E4A Pradudang 1</td>
                        <td>Group study</td>
                        <td>24/11/2023</td>
                        <td>11:30</td>
                        <td>12:30</td>
                        <td>John Doe</td>
                        <td>Arjarn Surapong</td>
                    </tr>
                    <tr>
                        <td>E4A Pradudang 1</td>
                        <td>Group study</td>
                        <td>24/11/2023</td>
                        <td>11:30</td>
                        <td>12:30</td>
                        <td>John Doe</td>
                        <td>Arjarn Surapong</td>
                    </tr>
                    <tr>
                        <td>E4A Pradudang 1</td>
                        <td>Group study</td>
                        <td>24/11/2023</td>
                        <td>11:30</td>
                        <td>12:30</td>
                        <td>John Doe</td>
                        <td>Arjarn Surapong</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>