<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/project/dashboard.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="/public/css/project/sb-admin-2.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-danger">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/staff/home">Rooms/Confirm</a></li>
                    
                    <!-- Dropdown for User -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar rounded-circle" src="/public/images/user_64px.png" height="40px" width="40px"> John Doe
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mx-5">
        <h1 class="text-black">Dashboard</h1>
        <h3 id="datetime">Date & Time</h3>
        <table class="table table-striped">
            <thead>
                <tr><th>Time slot</th> <th>Available</th> <th>Reserved</th> <th>Disabled</th></tr>
            </thead>
            <tbody id="table_dashboard">
            </tbody>
        </table>

        <!-- History -->
        <h1 class="text-black">History</h1>
        <hr class="border border-dark border-2 opacity-50">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Room</th>
                        <th>Meeting Agenda</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Who Book</th>
                        <th>Who Approved</th>
                    </tr>
                </thead>
                <tbody class="table-light" id="table_history">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // Run the functions
        getTime();
        getDashboard();
        getHistory();
        // Select tables
        const table_dashboard = document.querySelector('#table_dashboard');
        const table_history = document.querySelector('#table_history');
        const datetime = document.querySelector('#datetime');

        // document.getElementById('logoutButton').addEventListener('click', function() {
        // fetch('/logout').then(function(response) {
        //     if (response.ok) {
        //         return response.text().then(function(text) {
        //             alert("Logged out successfully"); // Or redirect to login page
        //         });
        //     }
        //     throw Error('Logout Error');
        // }).catch(function(error) {
        //     alert(error.message);
        // });
        //  });

        // Date Time
        function getTime(){
            fetch('/now').then(function(response){
                if(response.ok){
                    return response.text();
                }
                throw Error('Server Time error');
            })
            .then(function(data){
                datetime.innerText = data;
            })
            .catch(function(error){
                console.error(error);
            });
        }
        // Dashboard
        function getDashboard(){
        fetch('/dashboard/getdashboard')
            .then(function(response){
                if (response.ok) {
                    return response.json();
                }
                throw Error('Bad response');
            })
            .then(function(data){
                let rows = '';
                data.forEach(function (d){
                    rows += `<tr>`;
                    rows += `<td>"08:00-10:00"</td>`;
                    rows += `<td>${d.free_rooms_time_slot_1}</td>`;
                    rows += `<td>${d.reserved_rooms_time_slot_1}</td>`;
                    rows += `<td>${d.disabled_rooms_time_slot_1}</td>`;
                    rows += `</tr>`;
                    rows += `<tr>`;
                    rows += `<td>"10:00-12:00"</td>`;
                    rows += `<td>${d.free_rooms_time_slot_2}</td>`;
                    rows += `<td>${d.reserved_rooms_time_slot_2}</td>`;
                    rows += `<td>${d.disabled_rooms_time_slot_2}</td>`;
                    rows += `</tr>`;
                    rows += `<tr>`;
                    rows += `<td>"13:00-15:00"</td>`;
                    rows += `<td>${d.free_rooms_time_slot_3}</td>`;
                    rows += `<td>${d.reserved_rooms_time_slot_3}</td>`;
                    rows += `<td>${d.disabled_rooms_time_slot_3}</td>`;
                    rows += `</tr>`;
                    rows += `<tr>`;
                    rows += `<td>"15:00-17:00"</td>`;
                    rows += `<td>${d.free_rooms_time_slot_4}</td>`;
                    rows += `<td>${d.reserved_rooms_time_slot_4}</td>`;
                    rows += `<td>${d.disabled_rooms_time_slot_4}</td>`;
                    rows += `</tr>`;
                });    
        table_dashboard.innerHTML = rows;
            })
            .catch(function(err){
                console.error(err);
                alert(err);
            });
        }
        // History
        function getHistory(){
        fetch('/dashboard/gethistory')
            .then(function(response){
                if (response.ok) {
                    return response.json();
                }
                throw Error('Bad response');
            })
            .then(function(data){
                console.log(data);
                let rows_history = '';
                data.forEach(function (h){
                    rows_history += '<tr>';
                    rows_history += `<td>${h.room_name}</td>`;
                    rows_history += `<td>${h.agenda}</td>`;
                    rows_history += `<td>${h.formatted_date}</td>`;
                    if(h.time_slot_1 == "1"){
                        rows_history += `<td>08:00 - 10:00</td>`;
                    }
                    else if (h.time_slot_2 == "1")
                    {
                        rows_history += `<td>10:00 - 12:00</td>`;
                    }
                    else if (h.time_slot_3 == "1")
                    {
                        rows_history += `<td>13:00 - 15:00</td>`;
                    }
                    else if (h.time_slot_4 == "1")
                    {
                        rows_history += `<td>15:00 - 17:00</td>`;
                    }
                    else{
                        rows_history += `<td>Error</td>`;
                    }
                    rows_history += `<td>${h.whoBook}</td>`;
                    rows_history += `<td>${h.whoApprove}</td>`;
                    rows_history += '</tr>';
                });    
                table_history.innerHTML = rows_history;
            })
            .catch(function(err){
                console.error(err);
                alert(err);
            });
        }
    </script>

</body>

</html>