<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add room</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/notiflix-aio-3.2.6.min.js"></script>
</head>


<body>
    <!--------------------------------------------------------- navbar ---------------------------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand navbar-dark bg-danger">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/staff/home">Rooms</a></li>

                    <!-- Dropdown for User -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar rounded-circle" src="/public/images/user_64px.png" height="40px"
                                width="40px"> John Doe
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <h4 class="m-3">Add Meeting Rooms</h4>
    <br>
    <div class="container-fluid">
        <form id="dataForm">
            <div class="row m-3">
                <div class="col">
                    <label for="txt_room_name">Room Name</label>
                    <input type="text" id="txt_room_name" name="room_name" class="form-control" placeholder="Room name"
                        aria-label="Room name" required>
                </div>
                <!-- Building -->
                <div class="col">
                    <label for="txt_building">Building</label>
                    <input type="text" id="txt_building" name="building" class="form-control" placeholder="Building"
                        aria-label="Building" required>
                </div>
                <!-- Capacity -->
                <div class="col">
                    <label for="txt_capacity">Capacity</label>
                    <input type="number" id="txt_capacity" name="capacity" class="form-control" placeholder="Capacity"
                        aria-label="Capacity" required>
                </div>

            </div>
            <br>
            <div class="row m-3">
                <div class="col-auto">
                    <!-- facilities -->
                    <p class="title">Facilities</p>

                    <div class="form-check form-check-inline">
                        <input name="audio" class="form-check-input" type="checkbox" value="audio" id="audio">
                        <label class="form-check-label" for="audio">Audio</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input name="video" class="form-check-input" type="checkbox" value="video" id="video">
                        <label class="form-check-label" for="video">Video</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input name="plug" class="form-check-input" type="checkbox" value="plug" id="plug">
                        <label class="form-check-label" for="plug">Plug</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input name="speakerphone" class="form-check-input" type="checkbox" value="speakerphone"
                            id="speakerphone">
                        <label class="form-check-label" for="speakerphone">Speaker phone</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input name="TV" class="form-check-input" type="checkbox" value="TV" id="tv">
                        <label class="form-check-label" for="tv">TV</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input name="webcam" class="form-check-input" type="checkbox" value="webcam" id="webcam">
                        <label class="form-check-label" for="webcam">Webcam</label>
                    </div>
                </div>
                <!-- image upload -->
                <!-- <div class="col-xl">
                    <p class="title">Upload File</p>
                    <div class="form-control">
                        <input type="file" class="form-control my-2" name="filetoupload" required>
                    </div>
                </div> -->

        
        <!-- outside of form -->
        <div class="row mt-3">
            <div class="col-auto"><button type="button" id="cancelButton" class="btn btn-secondary btn-lg">Cancel</button></div>
            <div class="col-auto"><button type="button" id="editRoomButton" class="btn btn-primary btn-lg">Edit room</button></div>
        </div>
    </form>
    </div>



    <script>
        // get room_id from sessionStorage
        const room_id = sessionStorage.room_id;
        // alert(room_id);
        loadRooms(room_id);
        // Load room data
        async function loadRooms(room_id) {
            const options = {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "room_id": room_id
                    }),
                };
                await fetch('/get_room_by_id',options)
                    .then(response => response.json())
                    .then(data => {
                        displayRooms(data);
                        // console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
        }
        // Display room data
        function displayRooms(data){
            console.log(data);
            console.log(data[0].room_name);
            console.log(data[0].building);
            console.log(data[0].building);
            document.querySelector('input[name="room_name"]').value = data[0].room_name;
            document.querySelector('input[name="building"]').value = data[0].building;
            document.querySelector('input[name="capacity"]').value = data[0].capacity;
            if(data[0].audio) document.querySelector('#audio').checked = true;
            if(data[0].video) document.querySelector('#video').checked = true;
            if(data[0].plug) document.querySelector('#plug').checked = true;
            if(data[0].speakerphone) document.querySelector('#speakerphone').checked = true;
            if(data[0].TV) document.querySelector('#tv').checked = true;
            if(data[0].webcam) document.querySelector('#webcam').checked = true;
        }

        // cancel button takes you back to the home page
        document.querySelector('#cancelButton').addEventListener('click', function () {
            window.location.href = '/staff/home';
        });

        // submit form
        // const form = document.querySelector('#dataForm');
        // form.onsubmit = async function (e) {
        document.querySelector('#editRoomButton').addEventListener('click', function () {
                // text inputs
                const room_name = document.querySelector('#txt_room_name').value;
                const building = document.querySelector('#txt_building').value;
                const capacity = document.querySelector('#txt_capacity').value;
                console.log(room_name);
                console.log(building);
                console.log(capacity);

                // checkbox inputs
                const facilities = document.querySelectorAll('input[type="checkbox"]');
                let room_data = {};
                room_data["room_id"] = room_id;
                room_data["room_name"] = room_name;
                room_data["building"] = building;
                room_data["capacity"] = capacity;
                facilities.forEach(function (facility) {
                if (facility.checked) {
                    room_data[facility.value] = 1;
                } else {
                    room_data[facility.value] = 0;
                }
                
            });
            edit(room_data);
        });

        // sending data to the back-end
        // async function upload(formData) {
            async function edit(r) {
        try {
            const options = {
                method: 'PUT',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(r), // Send the entire object as is
            };
            const response = await fetch(`/editroom/update/${r.room_id}`, options);
            if (response.ok) {
                const data = await response.text();
                Notiflix.Report.success('Success', data, 'OK');
            }
            else {
                throw Error('Insert error');
            }
        } catch (err) {
            console.error(err.message);
            Notiflix.Report.failure('Error', err.message, 'Close');
        }
    }

    </script>
</body>

</html>