<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Booking</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>

<style>
    .border {
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px; 
    overflow: hidden; 
    }
     #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #9A1212;
    height: 256px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



</style>
</head>
<body>
    <div class="">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar d-flex justify-content-center shadow">
                <h3 class="text-danger ms-auto">|</h3>
                <h3 class="navbar-brand">My account</h3>
                <a href="#" class="ms-auto nav-link pe-3">Back</a>
            </nav>
        </div>
    
        
        <div class="row">
            <div class="col-sm-4 mt-5 ms-3">
                <div class="pt-5 pb-4 px-5 d-flex align-items-center mb-0">
                    <img src="/public/img/Group.png" alt="" >
                    <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="#">My account</a>
                </div>
                <div class="ps-5 pb-4 d-flex align-items-center">
                    <img src="/public/img/🦆 icon _lock key_.png" alt="">
                    <a class="mb-0 ml-2 ms-2 nav-item nav-link active" href="#">Change password</a>
                </div>
                <div class="ps-5 pb-4 d-flex align-items-center">
                    <img src="/public/img/🦆 icon _paste clipboard_.png" alt="">
                    <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="#">My booking</a>
                    
                </div>
                <div class="ps-5 pb-4 d-flex align-items-center">
                    <img  src="/public/img/🦆 icon _log out_.png" alt="">
                    <a class="mb-0 ml-2 ms-3 nav-item nav-link active" href="#">Logout</a>
                </div>
            </div>
            <div class="col-sm-5 pt-5 ">
                <table class="table border">
                    <thead class="table-dark">
                        <tr>
                            <th>Date</th>
                            <th>Room</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table_booking">
                        <tr class="table-secondary ">
                            <td>7/12/2023</td>
                            <td>XL101</td>
                            <td>09:00 - 12:00</td>
                            <td>Pending</td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="container-fluid" id="footer">
            <div class="">
                <h5 class="text-white">Address</h3> 
                <p class="text-white"> 333 Moo1, Thasud, Muang, Chiang Rai 57100</p>
            </div>
            <div class="">
                <h5 class="text-white">Contact</h3> 
                    <p class="text-white">Phone : 0-5391-6000</p>
                    <p class="text-white">Email : surapong@mfu.ac.th</p>
            </div>
          </footer>
        
    </div>

    <script>
         getBooking();
         const table_booking = document.querySelector('#table_booking');
         function getBooking(){
        fetch('/my-booking/getbooking')
            .then(function(response){
                if (response.ok) {
                    return response.json();
                }
                throw Error('Bad response');
            })
            .then(function(data){
                console.log(data);
                let rows = '';
                data.forEach(function (room){
                    rows += '<tr>';
                    rows += `<td>${room.formatted_date}</td>`;
                    rows += `<td>${room.room_name}</td>`;
                    if(room.time_slot_1 == "1"){
                        rows += `<td>08:00 - 10:00</td>`;
                    }
                    else if (room.time_slot_2 == "1")
                    {
                        rows += `<td>10:00 - 12:00</td>`;
                    }
                    else if (room.time_slot_3 == "1")
                    {
                        rows += `<td>13:00 - 15:00</td>`;
                    }
                    else if (room.time_slot_4 == "1")
                    {
                        rows += `<td>15:00 - 17:00</td>`;
                    }
                    else{
                        rows += `<td>Error</td>`;
                    }
                    rows += `<td>${room.status}</td>`;
                    rows += '</tr>';
                });    
                table_booking.innerHTML = rows;
            })
            .catch(function(err){
                console.error(err);
                alert(err);
            });
        }
    </script>

</body>
</html>