<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/js/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/project/layout.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <title>PAGE 1</title>
</head>

<body>



    <body>
        

        <!-- navbar -->
        <nav class="navbar navbar-expand navbar-dark bg-danger ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto"> <!-- Added ms-auto class here -->
                        <li class="nav-item"><a class="nav-link active" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item"><a class="nav-link active" href="#">My Booking</a>
                        </li>
                        <img class="avatar rounded-circle" src="/public/images/fc2900d41b78b817.jpg">
                        <li class="nav-item"><a class="nav-link active" href="#">John Doe
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <a href="Link">Dashboard</a> /
        <a href="Link">Bookroom</a><br>
        <div class="container text-center mt-5">
            <h4>Rooms Availibility</h4>
            <div class="input-group mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Search for rooms" aria-label="Search for rooms"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
            </div>
        </div>


        <!-- 2-column details -->

        <div class="container ">
            <div class="row">
                <div class="col-4 mt-5">
                    <div class="card" style="width: 250px;">
                        <img src="/public/images/OIP.jpg" class="card-img-top" alt="My Sneakers">
                        <div class="card-body">
                            <h4 class="card-title">BHAGIRATHI</h4>
                            <h6 class="card-subtitle text-muted">Seating Capacity: 8</h6>
                            <hr>
                            <h6 class="card-subtitle text-muted">Location: Pune Hinjewadi</h6>
                            <h6 class="card-subtitle text-muted">Facilities:
                                <img class="avatar rounded-circle"
                                    src="/public/images/png-clipart-wireless-microphone-computer-icons-microphone-electronics-microphone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/png-clipart-phone-phone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/2.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.jpg" alt="user1">
                            </h6>
                            Timeslots:
                            <span class="badge bg-secondary">08:00 - 10:00</span>
                            <span class="badge bg-secondary">10:00 - 12:00</span>
                            <span class="badge bg-secondary">13:00 - 15:00</span>
                            <span class="badge bg-secondary">15:00 - 17:00</span>
                        </div>
                        <h6 class="text-center bg-danger" style="color: white;">Reserve</h6>
                    </div>





                </div>
                <div class="col-4 mt-5">
                    <div class="card" style="width: 250px;">
                        <img src="/public/images/OIP.jpg" class="card-img-top" alt="My Sneakers">
                        <div class="card-body">
                            <h4 class="card-title">BHAGIRATHI</h4>
                            <h6 class="card-subtitle text-muted">Seating Capacity: 8</h6>
                            <hr>
                            <h6 class="card-subtitle text-muted">Location: Pune Hinjewadi</h6>
                            <h6 class="card-subtitle text-muted">Facilities:
                                <img class="avatar rounded-circle"
                                    src="/public/images/png-clipart-wireless-microphone-computer-icons-microphone-electronics-microphone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/png-clipart-phone-phone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/2.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.jpg" alt="user1">
                            </h6>
                            Timeslots:
                            <span class="badge bg-secondary">08:00 - 10:00</span>
                            <span class="badge bg-secondary">10:00 - 12:00</span>
                            <span class="badge bg-secondary">13:00 - 15:00</span>
                            <span class="badge bg-secondary">15:00 - 17:00</span>
                        </div>
                        <h6 class="text-center bg-danger" style="color: white;">Reserve</h6>
                    </div>





                </div>
                <div class="col-4 mt-5">
                    <div class="card" style="width: 250px;">
                        <img src="/public/images/OIP.jpg" class="card-img-top" alt="My Sneakers">
                        <div class="card-body">
                            <h4 class="card-title">BHAGIRATHI</h4>
                            <h6 class="card-subtitle text-muted">Seating Capacity: 8</h6>
                            <hr>
                            <h6 class="card-subtitle text-muted">Location: Pune Hinjewadi</h6>
                            <h6 class="card-subtitle text-muted">Facilities:
                                <img class="avatar rounded-circle"
                                    src="/public/images/png-clipart-wireless-microphone-computer-icons-microphone-electronics-microphone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/png-clipart-phone-phone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/2.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.jpg" alt="user1">
                            </h6>
                            Timeslots:
                            <span class="badge bg-danger">08:00 - 10:00</span>
                            <span class="badge bg-danger">10:00 - 12:00</span>
                            <span class="badge bg-success">13:00 - 15:00</span>
                            <span class="badge bg-danger">15:00 - 17:00</span>
                        </div>
                        <button class="btn btn-primary" onclick="redirectToBookDetail()">Book</button>
                    </div>





                </div>

            </div>

        </div>
        <div class="container ">
            <div class="row">
                <div class="col-4 mt-5">
                    <div class="card" style="width: 250px;">
                        <img src="/public/images/OIP.jpg" class="card-img-top" alt="My Sneakers">
                        <div class="card-body">
                            <h4 class="card-title">BHAGIRATHI</h4>
                            <h6 class="card-subtitle text-muted">Seating Capacity: 8</h6>
                            <hr>
                            <h6 class="card-subtitle text-muted">Location: Pune Hinjewadi</h6>
                            <h6 class="card-subtitle text-muted">Facilities:
                                <img class="avatar rounded-circle"
                                    src="/public/images/png-clipart-wireless-microphone-computer-icons-microphone-electronics-microphone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/png-clipart-phone-phone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/2.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.jpg" alt="user1">
                            </h6>
                            Timeslots:
                            <span class="badge bg-danger">08:00 - 10:00</span>
                            <span class="badge bg-success">10:00 - 12:00</span>
                            <span class="badge bg-success">13:00 - 15:00</span>
                            <span class="badge bg-success">15:00 - 17:00</span>
                        </div>
                        <button class="btn btn-primary" onclick="redirectToBookDetail()">Book</button>
                    </div>





                </div>
                <div class="col-4 mt-5">
                    <div class="card" style="width: 250px;">
                        <img src="/public/images/OIP.jpg" class="card-img-top" alt="My Sneakers">
                        <div class="card-body">
                            <h4 class="card-title">BHAGIRATHI</h4>
                            <h6 class="card-subtitle text-muted">Seating Capacity: 8</h6>
                            <hr>
                            <h6 class="card-subtitle text-muted">Location: Pune Hinjewadi</h6>
                            <h6 class="card-subtitle text-muted">Facilities:
                                <img class="avatar rounded-circle"
                                    src="/public/images/png-clipart-wireless-microphone-computer-icons-microphone-electronics-microphone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/png-clipart-phone-phone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/2.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.jpg" alt="user1">
                            </h6>
                            Timeslots:
                            <span class="badge bg-danger">08:00 - 10:00</span>
                            <span class="badge bg-success">10:00 - 12:00</span>
                            <span class="badge bg-success">13:00 - 15:00</span>
                            <span class="badge bg-danger">15:00 - 17:00</span>
                        </div>
                        <button class="btn btn-primary" onclick="redirectToBookDetail()">Book</button>
                    </div>





                </div>
                <div class="col-4 mt-5">
                    <div class="card" style="width: 250px;">
                        <img src="/public/images/OIP.jpg" class="card-img-top" alt="My Sneakers">
                        <div class="card-body">
                            <h4 class="card-title">BHAGIRATHI</h4>
                            <h6 class="card-subtitle text-muted">Seating Capacity: 8</h6>
                            <hr>
                            <h6 class="card-subtitle text-muted">Location: Pune Hinjewadi</h6>
                            <h6 class="card-subtitle text-muted">Facilities:
                                <img class="avatar rounded-circle"
                                    src="/public/images/png-clipart-wireless-microphone-computer-icons-microphone-electronics-microphone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/png-clipart-phone-phone.png"
                                    alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/2.png" alt="user1">
                                <img class="avatar rounded-circle" src="/public/images/1.jpg" alt="user1">
                            </h6>
                            Timeslots:
                            <span class="badge bg-success">08:00 - 10:00</span>
                            <span class="badge bg-success">10:00 - 12:00</span>
                            <span class="badge bg-success">13:00 - 15:00</span>
                            <span class="badge bg-danger">15:00 - 17:00</span>
                        </div>
                        <button class="btn btn-primary" onclick="redirectToBookDetail()">Book</button>
                    </div>





                </div>

            </div>

        </div>





        </div>




        <script>
            function redirectToBookDetail() {
                // ทำการเปลี่ยนหน้าไปยัง "book_detail.html" หรือไฟล์ที่คุณต้องการ
                window.location.href = 'Booking_details.html';
            }
            function redirectToBrowseroom() {
            // ทำการเรียกใช้งาน PHP เพื่อดึงข้อมูล
            fetch('backend.php') // ให้ชื่อไฟล์ PHP ตรงนี้
                .then(response => response.json())
                .then(data => {
                    // ทำตามต้องการกับข้อมูลที่ได้รับ
                    console.log(data);
                })
                .catch(error => console.error('Error:', error));
        }
        </script>

    </body>

</html>
