<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/js/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/project/layout.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <title>PAGE 1</title>
</head>

<body>



    <body>
        <nav class="navbar navbar-expand navbar-dark bg-danger">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="/dashboard">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/staff/home">Rooms</a></li>

                        <!-- Dropdown for User -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="avatar rounded-circle" src="/public/images/user_64px.png" height="40px"
                                    width="40px"> John Doe
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a href="Link">Dashboard</a> /
        <a href="Link">Bookroom</a><br>
        <div class="container text-center mt-5">

            <div class="container text-center mt-5">
                <h4>Rooms Availibility</h4>
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" id="search" placeholder="Search for rooms">
                    <button class="btn btn-outline-secondary" onclick="searchClicked()">Search</button>

                </div>
            </div>


            <div class="container ">
                <div class="row" id="room-container">
                </div>

            </div>
        </div>

        <script>
            // Load the rooms for the first time
            loadRooms();


            // define functions
            function searchClicked() {
                const room_name = document.querySelector('#search').value;
                searchRooms(room_name);
            }

            // This function will display the rooms from JSON data received from back-end
            function displayRooms(data) {
                const roomContainer = document.getElementById('room-container');
                roomContainer.innerHTML = '';
                console.log(data)
                data.forEach(room => {
                    const col = document.createElement('div');
                    col.className = 'col-4 mt-5';

                    const card = document.createElement('div');
                    card.className = 'card';
                    card.style.width = '250px';


                    let facilitiesHtml = createfacilitiesHtml(room);
                    let timeSlotsHtml = createTimeSlotsHtml(room);

                    card.innerHTML = `
                            <img src="/public/images/${room.image}" class="card-img-top" alt="${room.room_name}">
                            <div class="card-body">
                                <h4 class="card-title">${room.room_name}</h4>
                                <h6 class="card-subtitle text-muted">Seating Capacity: ${room.capacity}</h6>
                                <hr>
                                <h6 class="card-subtitle text-muted">Location: ${room.building}</h6>
                                <h6>Facilities:</h6> ${facilitiesHtml}
                                <h6>Timeslots:</h6> ${timeSlotsHtml}
                            </div>
                        `;

                    if (room.status === 'disabled') {
                        const disabledText = document.createElement('h6');
                        disabledText.className = 'text-center bg-danger';
                        disabledText.style.color = 'white';
                        disabledText.innerText = 'Disabled';
                        card.appendChild(disabledText);

                    } else {
                        const bookButton = document.createElement('button');
                        bookButton.className = 'btn btn-primary';
                        bookButton.innerText = 'Book Now';

                        // Set the onclick function to navigate to the booking_details page
                        bookButton.onclick = () => bookRoom(room.room_id);
                        card.appendChild(bookButton);
                    }

                    col.appendChild(card);
                    roomContainer.appendChild(col);
                });
            }

            // Send room_name to the back-end to query the DB with
            function searchRooms(room_name) {
                const options = {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "room_name": room_name
                    }),
                };
                fetch('/room', options)
                    .then(response => response.json())
                    .then(data => {
                        displayRooms(data);

                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }

            // Get all rooms data from DB
            function loadRooms() {
                fetch('/room')
                    .then(response => response.json())
                    .then(data => {
                        displayRooms(data);

                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }

            // show facilities
            function createfacilitiesHtml(room) {
                const timeSlotLabels = {
                    "audio": "audio",
                    "video": "video",
                    "plug": "plug",
                    "speakerphone": "speakerphone",
                    "TV": "TV",
                    "webcam": "webcam"
                };
                let html = '';
                const isDisabled = room.status === 'disabled';

                for (const key in timeSlotLabels) {
                    if (room.hasOwnProperty(key)) {
                        const color = isDisabled || room[key] === 1 ? 'bg-danger' : 'bg-success';
                        html += `<span class="badge ${color}">${timeSlotLabels[key]}</span> `;
                    }
                }
                return html;
            }
            
            // show time slots
            function createTimeSlotsHtml(room) {
                const timeSlotLabels = {
                    "time_slot_1": "08:00 - 10:00",
                    "time_slot_2": "10:00 - 12:00",
                    "time_slot_3": "13:00 - 15:00",
                    "time_slot_4": "15:00 - 17:00"
                };
                let html = '';
                const isDisabled = room.status === 'disabled';

                for (const key in timeSlotLabels) {
                    if (room.hasOwnProperty(key)) {
                        const color = isDisabled || room[key] === 1 ? 'bg-danger' : 'bg-success';
                        html += `<span class="badge ${color}">${timeSlotLabels[key]}</span> `;
                    }
                }
                return html;
            }

            function bookRoom(room_id) {

                // Redirect to booking_details.html
                window.location.href = `/Booking_details`;
            }

        </script>


    </body>

</html>