.nav-itemback {
    text-align: right;
}

.border {
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #9A1212;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.name,
.lastname {
    display: inline-block; /* ทำให้เป็นอิลิเม้นต์บล็อกที่แสดงผลในบรรทัดเดียวกัน */
    margin-right: 30px; /* เพิ่มระยะห่างด้านขวา */
}
.row{
    margin-left: 100px; /* ปรับ margin-left ตามที่คุณต้องการ */
}




