.row {
    border: 1px solid #ffffff;
    padding: 0px;
    
    max-width: 13%;
    box-sizing: border-box;
    text-align: left;
    margin-left: 50px;
    background-color: #0a98da;
    border-radius: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

#currentDate {
    font-size:20px; 
    font-weight: bold; 
    color: #ffffff; 
    display: inline-block;
    padding:auto; 
    margin-top: 15px;
    
}
